.slider-content {
  margin: 0 auto;
  text-align: center;
  overflow: hidden;
}

.swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 768px) {
  .swiper-slide {
      display: block;
  }
}

@media (min-width: 1200px) {
  .slider-content {
      margin: 0 30px;
      overflow-x: hidden;
  }
}
